{% extends "base.html" %}

{% block content %}

<table style="width:100%">
  <tr>
    <th width=18%><img style = "float:center" src="https://pbs.twimg.com/media/CyflPLYUUAAd8Qt.jpg" /></th>
  </tr>
</table>

<p>

<br>
<form action="{{ form_action }}"
      method="{{ form_method }}">
  {% if form_method == "post" %}
    {% csrf_token %}
  {% endif %}

 <p style="text-align:center">Social Development Indicator: {{ form.variable }}</p>
</form>

<br>
<img style="float:center" src='{{ pic_source }}' />
</p>

{% endblock %}
