{% extends "base.html" %}

{% block content %}
<br>
<form action="{{ form_action }}"
      method="{{ form_method }}">
  {% if form_method == "post" %}
    {% csrf_token %}
  {% endif %}

  Social Development Indicator: {{ form.variable }}
  <!-- <input type="submit" value="Submit"> -->
</form>

<!-- </form> -->
<br>
<img style="float:left" src='{{ pic_source }}' />
<!-- <table>
<tr><th>Dependent Variable</th> <th>Independent Variable</th> </tr>
<tr><td>{{ variable }}</td>     <td>Polity Score</td></tr>
<tr><th>Slope</th>              <th>Intercept</th></tr>
<tr><td>{{ slope }}</td>        <td>{{ intercept}}</td></tr>
<tr><th>R-squared</th>          <th>P-value</th></tr>
<tr><td>{{ r_squared }}</td>    <td>{{ p_value }}</td></tr>
<tr><th>Standard Error</th></tr>
<tr><td>{{ std_err }}</td></tr>
</table> -->
<!-- {{ html_table | safe}} -->
</p>

{% endblock %}
