{% extends "base.html" %}

{% block content %}

<style>
img{
  border: 10px;
  border-style: solid;
  border-color: transparent;
  margin: 0px auto;
}

table {
  align: center;
  border-width: 5px 0px;
  border-style: solid;
  border-color: #900C3F;
  background: #E0DEE0;
  padding: 0px;
  border-spacing: 0px;
  margin: 28px 0px;
}

th {
  color: grey;
  background-color: transparent;
  font-size: 12px;
  text-align: left;
}

td {
  text-align:left;
  font-size: 18px;
  padding: 3px 3px;
}

</style>


<table style="width:100%">
  <tr>
    <th colspan="2"><h1>Our team</h1></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td width=18%><img align="left" src="https://pbs.twimg.com/media/CyTIEgGXUAEbssm.png" width=% height=50% /></td>
    <td><b>Shilin Liu</b> is a 2nd Year MPP Candidate at the Harris School of Public Policy. She has a deep interest in education policy and is dedicated to make impactful changes in education. Prior to Harris, she worked at MARS. Shilin also participates in different student organization events and plays an active role in the Harris community.
      <p><b>Juanyou Xie (Joyce)</b> is also a 2nd year MPP candidate at the Harris School of Public Policy. Joyce has a wide range of intern experience including Sunlight Foundation, European Union Chamber of Commerce in China and Carnegie Endowment for International Peace etc. Prior coming to Harris, she studied at Tsinghua University.
      <p><b>Richard Han</b> is a 2nd year Master of Public Policy candidate at the Harris School of Public Policy. At the Harris school he is receiving training in data analysis skills, programming and other economic knowledge. Richard also has a wide range of intern experiences in different sectors, including World Health Organisation, LSE and McKinsey and Co.
    </td>
    <td></td>
    <td></td>
  </tr>
</table>

<br>
<br>

{% endblock %}
