{% extends "base.html" %}

{% block content %}

<style>

img{
  border: 10px;
  border-style: solid;
  border-color: transparent;
  margin: 0px auto;
}

table {
  align: left, top;
  border-width: 5px 0px;
  border-style: solid;
  border-color: transparent;
  background: #E0DEE0;
  padding: 0px;
  border-spacing: 0px;
  margin: 28px 0px;
}

th {
  color: white;
  background-color: #900C3F;
}

th, td {
  text-align:left;
  font-size: 20;
  padding: 3px 3px;
}

</style>


<img align="left" src="https://pbs.twimg.com/media/CyTIEgGXUAEbssm.png" width=40% height=80% />

<table style="width:100%">
  <tr>
    <th colspan="2"><h1>Shilin Liu</h1></th>
    <th></th>
  </tr>
  <tr>
    <td width=18%><img align="left" src="https://media.licdn.com/media/AAEAAQAAAAAAAAddAAAAJGIxMTk1NzVjLTZlYTUtNDRhZC1hZTVmLWQ0NzA1ZmIyNDk2Nw.jpg" width=85% height=50% /></td>
    <td>Shilin Liu is 2nd Year MPP Candidate at the Harris School of Public Policy. She has a deep interest in education policy and is dedicated to make impactful changes in education. Prior to Harris, she worked at MARS. Shilin also participates in different student organization events and plays an active role in the Harris community.
  </td>
    <td></td>
    <td></td>
  </tr>
</table>


<table style="width:100%">
  <tr>
    <th colspan="2"><h1>Juanyou Xie</h1></th>
    <th></th>
  </tr>
  <tr>
    <td width=18%><img align="left" src="https://media.licdn.com/media/AAEAAQAAAAAAAAZoAAAAJDFlNGFmOTQ2LTUwMDMtNDA0Mi05N2I5LWY1MTI0YWM1NzgyMw.jpg" width=85% height=80% /></td>
    <td>Juanyou Xie (Joyce) is also a 2nd year MPP candidate at the Harris School of Public Policy. Joyce has a wide range of intern experience including Sunlight Foundation, European Union Chamber of Commerce in China and Carnegie Endowment for International Peace etc. Prior coming to Harris, she studied at Tsinghua University. Joyce enjoys coding in her spare time.
  </td>
    <td></td>
    <td></td>
  </tr>
</table>

<table style="width:100%">
  <tr>
    <th colspan="2"><h1>Richard Han</h1></th>
    <th></th>
  </tr>
  <tr>
    <td width=18%><img align="left" src="https://media.licdn.com/media/AAEAAQAAAAAAAASzAAAAJDFlNGIyZDEzLWM5MWUtNDg1OS1iZjY1LTFjMzczODUwYzJkNw.jpg" width=85% height=45% /></td>
    <td>Richard Han is a 2nd year Masters of public policy candidate at the Harris School of Public Policy. At the Harris school he is receiving training in data analysis skills, programming and other economic knowledge. Richard also has a wide range of intern experiences in different sectors, including World Health Organisation, LSE and McKinsey and Co.
  </td>
    <td></td>
    <td></td>
  </tr>
</table>

{% endblock %}
