{% extends "base.html" %}

{% block content %}


<h1> What is the relationship between political system status and social development? </h1>

<p>
We are interested in understanding how the political system status interacts with the social development indicators in different countries. We selected a wide range of indicators to see how they correlate with
political system status.

<p>
<h2> Indicators </h2>
Indicators used in our studies mainly come from two data sources, World Development Indicators (WDI) and the Polity IV Project. For more information, click on <i>Dataset Source</i> under <i>About</i> in the navigation bar.

<p>

For <b> political system status </b>, we use an indicator <b> polity2 </b> taken from the Polity IV Project. This indicator ranges from +10 (strongly democratic) to -10
(strongly autocratic). The indicator is calculated using a scoring mechanism that measures institutionalized democracy and institutionalized autocracy. They each take into account
different perspectives of democracy and autocracy and come up with a score on a scale from 0-10. By subtracting the 2 indicators, we are able to get <b>polity2</b>.

<p>
On the other hand, to see how <b> social development </b> changes over time, we've selected 10 indicators from WDI in 3 different areas: education,
employment and health. Here's a full list of indicators used in our analysis.

<ul style="list-style-type:circle">
  <li><h3> Education </h3></li>
    <ol type = "I">
      <li> School enrollment (secondary) by gender </li>
    </ol>
  <li><h3> Employment </h3></li>
    <ol type = "I">
      <li> Employment in agriculture (%) </li>
      <li> Employment in services (%) </li>
      <li> Labor force participation rate for age 15-24 (%) (ILO Model) </li>
      <li> Unemployment for age 15-24 (%) (ILO Model)</li>
    </ol>
  <li><h3> Health </h3></li>
    <ol type = "I">
      <li> Mortality rate under 5 </li>
      <li> Mortality rate, adult by gender </li>
      <li> Life expectancy at birth </li>
      <li> Fertility rate </li>
    </ol>
</ul>

In our <b>Key Findings</b> section, we've presented the data for each country in the tab <a href="/dev/location"><b>Country Overview</b></a>. The <a href="/dev/indicator"><b>Indicator Overview</b></a> tab, you can select a number of countries and one single indicator. The graph will present the results comparing one indicator over multiple countries.
<p>
In the <a href="/dev/correlate"><b>Political System and Development</b></a> section, we will present the correlations between the political system status and social indicators.
<br>
<br>

{% endblock %}
